<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="..\static\assets\css\home.css">
    <link rel="stylesheet" href="..\static\assets\css\geral.css">
</head>

<body>
    <header>
        <nav><a href=""><span class="material-symbols-outlined">lock</span></a></nav>

        <div class="stack">
            <div id="header-video-background">
                <video autoplay loop muted playsinline class="background-video">
                    <source src="..\static\assets\video\background.mp4" type="video/mp4">
                    Seu navegador não suporta vídeos.
                </video>
            </div>

            <div id="header-gradiente"></div>

            <div id="header-titulo">
                <img src="..\static\assets\img\home\logo.png" alt="">
                <h3>CakeCat Weather</h3>
            </div>
        </div>
    </header>

    <main>
        <article class="seção">
            <div id="pesquisa-cidade">
                <h2>Procure sua cidade</h2>
                <form action="">
                    <input type="text" placeholder="Cidade">
                </form>
                <img src="..\static\assets\img\home\mapa.png" alt="" class="mapa">
            </div>
        </article>
        <article class="seção">
            <div id="quadro">
                <div>
                    <div id="cabeçalho">
                        <div id="datas">
                            <div>
                                <p>data</p>
                            </div>
                        </div>
                        <div id="calendario"><span class="material-symbols-outlined">
                                calendar_month
                            </span></div>


                    </div>

                    <div id="corpo">
                        <div id="informações-cidade">
                            <h2>Xique-Xique (BA)</h2>
                            <div>
                                <div id="circulo">
                                    <img width="48" height="48" src="https://img.icons8.com/color/48/partly-cloudy-day--v1.png" alt="partly-cloudy-day--v1" />
                                </div>
                                <div><p id="condição">Nublado</p></div>
                            </div>
                            <div id="temperaturas">
                                <div id="minima"><span class="material-symbols-outlined">straight</span>25°C</div>
                                <div id="maxima"><span class="material-symbols-outlined">straight</span>25°C</div>
                            </div>
                        </div>

                        <div id="grade">
                            <div class="linha">
                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\chuva.png" alt="">
                                    <p class="destaque">100 mm</p>
                                    <p class="descrição">Chuva</p>
                                </div>

                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\vento.png" alt="" id="vento">
                                    <p class="destaque">11 km/h</p>
                                    <p class="descrição">Vento</p>
                                </div>

                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\umidade.png" alt="" id="umidade">
                                    <p class="destaque">41%</p>
                                    <p class="descrição">Umidade</p>
                                </div>
                            </div>

                            <div class="linha">
                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\arco-iris.png" alt="">
                                    <p class="destaque" id="sem-possibilidade">Sem possibilidade</p>
                                    <p class="descrição">Arco-íris</p>
                                </div>

                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\sol.png" alt="" id="vento">
                                    <p class="destaque">07h - 18h</p>
                                    <p class="descrição">Período de Sol</p>
                                </div>

                                <div class="quadrado">
                                    <img src="..\static\assets\img\home\lua.png" alt="" id="umidade">
                                    <p class="destaque">Crescente</p>
                                    <p class="descrição">Tipo de lua</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>

        <article class="seção">
            <img src="..\static\assets\img\home\cake-cat.png" id="img-respiro" alt="">
        </article>

        <article class="seção">
            <h2>Entenda mais!</h2>

            <div id="acordeão">
                <details open>
                    <summary>Tempo</summary>
                    <p>O tempo designa as condições meteorológicas de determinado momento. Por exemplo, tempo chuvoso, tempo quente, tempo ensolarado, tempo úmido, tempo frio, tempo seco. Assim, o tempo é uma característica momentânea da atmosfera e o clima é um fator mais permanente.</p>
                    <p>O tempo pode variar de uma hora para outra, ou de um dia para o outro. Já o clima não é alterado de um momento ao outro, ou seja, ele muda ao longo do tempo.
                        Quando dizemos “Hoje faz muito frio” estamos falando das condições meteorológicas (e momentâneas) do local, isto é, do tempo.</p>
                </details>
                
                <details>
                    <summary>Clima</summary>
                    <p>...</p>
                </details>

                <details>
                    <summary>Calor</summary>
                    <p>...</p>
                </details>

                <details>
                    <summary>Temperatura</summary>
                    <p>...</p>
                </details>
            </div>
        </article>
    </main>
</body>

</html>