<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="..\static\assets\css\login.css">
</head>
<body>
    <!-- <img src="..\static\assets\img\login\fundo.png" alt="" id="img-fundo"> -->
    <div id="container">
        <div id="inputs">
            <h1>Área restrita</h1>
            <input id="campo-login-usuario" type="text" placeholder="Usuário">
            <input id="campo-login-senha" type="password" placeholder="Senha">
            <div class="button-container">
                <button id="login-button"><a>Entrar</a></button>
                <img src="..\static\assets\img\login\areia.png" alt="" id="monte-de-areia">
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#login-button').addEventListener('click', async () => {
            let usuario = document.querySelector('#campo-login-usuario').value;
            let senha = document.querySelector('#campo-login-senha').value;

            let login = await fetch('/admin/login', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        usuario: usuario,
                        senha: senha
                    }
                )
            });

            if (login.status != 200) {
                let response = await login.json();
                alert(response.mensagem);
                return;
            }

            if (login.redirected) {
                window.location = login.url
            }

        })
    </script>
</body>
</html>