<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="..\static\assets\css\login.css">
</head>
<body>
    <!-- <img src="..\static\assets\img\login\fundo.png" alt="" id="img-fundo"> -->
    <div id="container">
        <div id="inputs">
            <h1>Área restrita</h1>
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <div class="button-container">
                <button> <a href="..\templates\admin.html">Entrar</a></button>
                <img src="..\static\assets\img\login\areia.png" alt="" id="monte-de-areia">
            </div>
        </div>
    </div>
    
</body>
</html>